.center{
    color: aqua;
    position: fixed;
    width: 500px;
    height: 200px;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    font-size: 80px;
}
body{
    background-color: black;
}
video{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0;
    left: 0;
}